---
import Layout from '../layouts/index.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<Layout
	title={'Eric Mikkelsen'}
	subTiitle={'Web dev, acessibility specialist, & weird designer.'}
	description={SITE_DESCRIPTION}
	showNav={true}
>
	<p>Hi! I'm Eric Mikkelsen a UX engineer and web accessibility specialist who's been making websites since 2012.</p>
</Layout>
