---
import Layout from "../layouts/index.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout
    title={"Eric Mikkelsen"}
    subTiitle={"Web dev, acessibility specialist, & weird designer."}
    description={SITE_DESCRIPTION}
    showNav={true}
>
    <img src="/images/bearclaw-mark-1.png" />
    <p>
        Hi! I'm Eric Mikkelsen a UX engineer and web accessibility specialist
        who's been making websites since 2012.
    </p>
    <img src="/images/bearclaw-mark-2.png" />
    <img src="/images/bearclaw-mark-3.png" />
</Layout>
<style>
    img {
        display: block;
        width: 100%;
        max-width: 60em;
        image-rendering: pixelated;
    }
</style>
