---
import Layout from '../layouts/index.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<Layout 
	marquee={'Eric'} 
	title={'Eric Mikkelsen, UX Engineer'} 
	description={SITE_DESCRIPTION}
>
	<h2>Eric Mikkelsen, Web Accessibility Specialist & UX Engineer</h2>
	<p>Hi! I'm Eric Mikkelsen a UX engineer and web accessibility specialist who's been making websites since 2012.</p>
</Layout>