---
const {
    heading,
    body = null, 
    id = 'header',
    ofText = null,
} = Astro.props
---

<header>
    <div class="body" id={id}>
        <slot>
            <h1 id="h1">
                {heading}
                <i class="ofText">{ofText}</i>
            </h1>
            {body && <p>{body}</p>}
        </slot>
    </div>
</header>
<style>
    header {
        align-items: flex-end;
        gap: 24px;
        width: 100%;
        height: auto;
        @media screen {
            display: flex;
            background-image: url("/images/easter-colors.png");
            aspect-ratio: 16/9;
            border: 8px solid black;
            border-left: 0;
            background-size: 100% auto;
            padding: 5% 5% 0 0;
        }
    }
    .body {
        @media screen {            
            backdrop-filter: blur(48px);
            border: 1px solid #000;
            corner-top-right-shape: notch;
            border-top-right-radius: 5vw;
            max-width: 100%;
            padding: 5%;
            border-bottom: none;
            border-left: none;
        }
    }
    h1 {
        font-weight: 900;
        font-family: var(--font-family);
        font-size: clamp(2rem, 8vw, 8rem);
        text-shadow: 0.025em 0.025em #39d;
        text-shadow: 0.025em 0.025em #fff5b8;
        margin: 0;
        max-width: 100%;
        width: 8em;
        line-height: calc(1em + 4px);
    }
    p {
        border-top: 12px dotted #000;
        margin: 16px 0 0;
        padding: 16px 0 0;
        font-size: 1.5rem;
        max-width: 50ch;
        width: 100%;
    }
    .ofText {
        font-size: 1.25rem;
        margin-top: 4px;
        display: block;
        line-height: 1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 0.1em 0.1em #fff5b8;
    }
</style>
