---
const currentPath = Astro.url.pathname;

import BlogSquare from "../assets/blog-square.svg";
import HomeCircle from "../assets/home-circle.svg";
import ProjectsNonagon from "../assets/projects-nonagon.svg";
import ResumeTriangle from "../assets/resume-triangle.svg";
const Icons = {
    blog: BlogSquare,
    projects: ProjectsNonagon,
    resume: ResumeTriangle,
    toys: HomeCircle,
};

const links = [
    {
        current: false,
        slug: "blog",
        text: "Blog",
        url: "/blog/",
    },
    {
        current: false,
        url: "/resume/",
        slug: "resume",
        text: "Resume",
    },
    {
        current: false,
        slug: "projects",
        text: "Projects",
        url: "/projects/",
    },
    {
        current: false,
        slug: "toys",
        text: "Toys",
        url: "/toys/",
    },
].map((link) => {
    const current = link.url === currentPath;
    link.current = current;
    return link;
});
const iconClasses = {
    blog: "icon--square",
    projects: "icon--nonagon",
    resume: "icon--triangle",
    toys: "icon--circle",
};
---

<nav>
    <a href="/">Eric Mikkelsen</a>
    <ul role="list">
        {
            links.map(({ url, text, slug }) => {
                const Icon = Icons[slug];
                const iconClass = iconClasses[slug];
                return (
                    <li>
                        <a href={url} class={`nav__link nav__link--${slug}`}>
                            <span>{text}</span>
                            <br />
                            <Icon
                                class={`icon ${iconClass}`}
                                aria-hidden="true"
                            />
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>
<style lang="scss">
    nav {
        width: 100%;
        clear: both;
        display: inline-block;
    }
    nav > a {
        display: block;
        padding: 1em;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1px;
    }
    li a {
        background: #000;
        color: #fff;
        display: inline-block;
        padding: 0;
        text-align: center;
    }
    li span {
        display: inline-block;
        padding: 25% 0 5%;
    }
    /**
     * Old school method for aspect ratio
     * @link https://css-tricks.com/aspect-ratio-boxes/#the-pseudo-element-tactic
     */
    li a::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 100%;
    }
    li a::after {
        content: "";
        display: table;
        clear: both;
    }
    li svg {
        height: 2em;
    }
</style>
