---
const currentPath = Astro.url.pathname;
const links = [
    {
        text: "ericmikkelsen.com",
        url: "/",
        delay: '',
        current: false,
    },
    {
        text: "blog",
        url: "/blog/",
        delay: '',
        current: false,
    },
    {
        text: "resume",
        url: "/resume/",
        delay: '',
        current: false,
    },
    {
        text: "projects",
        url: "/projects/",
        delay: '',
        current: false,

    },
].map(link => {
    const current = link.url === currentPath;
    link.current = current
    return link
});

---
<nav class="rounded-right">
    <ul>
        {links.map((link) => 
            <li>
                <a href={link.url}>
                    {link.text}
                </a>
            </li>
        )}
    </ul>
</nav>
