---
import Layout from "../../../layouts/html.astro";
/**
 * @link https://github.com/oxipng/oxipng
 * User stories
 * - As a user I should be able to upload an image
 * - as a user I should be able to use oxipng to reduce the number of colors in an image
 * - as a user I should be able to set the resolution of the output image
 * - as a user I should be able to set the color count of the output image
 *
 * Dev notes
 * - for changing the number of colors let's use oxipng
 * -
 */
---

<Layout>
    <main>
        <prism-graph-canvas></prism-graph-canvas>
    </main>
    <prism-graph-controls>
        <menu aria-label="Controls" role="menu">
            <li>
                <details>
                    <summary>Layers</summary>
                    <button id="new-layer-button">New Layer</button>
                    <ul>
                        <!-- one list item per layer -->
                        <li data-selector="layer">
                            <!-- input to edit layer name -->
                            <label for="layer-1">
                                <span>Layer name:</span>
                                <input
                                    id="layer-1"
                                    name="layer-1"
                                    pattern="[a-z-]+"
                                    type="text"
                                    value=""
                                />
                            </label>
                            <!-- input to edit layer color -->
                            <label for="color-layer-1">
                                <span data-selector="layer-name">Layer 1</span>
                                <span>Color</span>
                                <input type="color" id="color-layer-1" />
                            </label>
                            <!-- button to delete layer -->
                            <button>
                                Delete layer
                                <span data-selector="use-layer-name">
                                    Layer 1
                                </span>
                            </button>
                        </li>
                    </ul>
                </details>
            </li>
            <li data-selector="get-started">
                <b>Get started</b>
                <label for="color-count">
                    <span>Color count</span>
                    <input type="number" id="color-count" />
                </label>
                <label for="width">
                    <span>Width</span>
                    <input name="width" type="number" id="width" />
                </label>
                <label for="height">
                    <span>Height</span>
                    <input name="height" type="number" id="height" />
                </label>
            </li>
        </menu>
    </prism-graph-controls>
</Layout>
<script></script>
<style></style>
