---
import Layout from './index.astro';
const {title, links,reversed = null} = Astro.props
---
<Layout title={title}>
	<ol reversed={reversed || null}>
		{links.map(({url,text}) => 
			<li>
				<a href={url}>
					{text}
				</a>
			</li>
		)}
	</ol>
</Layout>
<style>
	ol {
		font-size: 2rem;
	}
	li + li {
		margin-top: 16px;
	}
	a {
		border-radius: 12px;
	}
	a:focus {
		outline: 4px solid #fff;
		outline-offset: 4px;
	}
</style>