---
import Layout from './index.astro';
const {title, links} = Astro.props
---
<Layout title={title}>
    {links.map((link) => {
        const {url,text} = link
		return (
			<a href={url}>
				{text}
			</a>
	)
	})}
</Layout>
