---
import Layout from './index.astro';
const {title, links,reversed = null,ofText} = Astro.props
---
<Layout title={title} ofText={ofText}>
	<ol reversed={reversed || null} role="list">
		{links.map(({url,text}) => 
			<li>
				<a href={url}>
					{text}
				</a>
			</li>
		)}
	</ol>
</Layout>
<style>
	ol {
		font-size: 2rem;
		padding: 5%;
		list-style-position: inside;
		line-height: 2;
	}
	li {
		padding-left: 10px;
	}
	li + li {
		margin-top: 16px;
	}
	a {
		color: inherit;
		border-radius: 12px;
		padding: 4px;
		font-weight: bold;
	}
	a:hover {
		color: inherit;
		background-color: #7df;
	}
	a:focus {
		outline: 4px solid #fff;
		outline-offset: 4px;
	}
</style>