---
import Layout from './index.astro';
const {title, links} = Astro.props
---
<Layout title={title}>
    {links.map((link) => {
        const {url,text} = link
		return (
			<a href={url}>
				{text}
			</a>
	)
	})}
</Layout>
<style>
	a {
		display: flex;
		color: black;
		text-decoration-color: #000;
		font-size: var(--step-3);
		font-weight: 700;
		text-decoration-skip-ink: none;
		text-decoration-thickness: .25rem;
		text-underline-offset: .25em;
		border: .25rem solid transparent;
		border-radius: 1rem;
		outline-none;
	}
	a + a {
		margin-top: 6.25%;
	}
	a:focus-visible {
		border-color: currentColor;
		outline:none;
		text-decoration: none;
	}
</style>