---
import Layout from './index.astro';
const {title, links,reversed = null} = Astro.props
---
<Layout title={title}>
	<ol reversed={reversed || null}>
		{links.map(({url,text}) => 
			<li>
				<a href={url}>
					{text}
				</a>
			</li>
		)}
	</ol>
</Layout>
