---
import BaseHead from "../components/Head/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Head } from 'astro-capo'
const {
    title = SITE_TITLE,
    description,
    lang = "en",
    h1 = true,
    showNav = false,
} = Astro.props;
---
<!doctype html>
<html lang={lang}>
    <Head>
        <BaseHead title={title} description={description} />
    </Head>
    <body>
        <slot />
    </body>
</html>
