---
import BaseHead from "../components/Head/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Header from '../components/Header.astro'
// import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const {
    title,
    description,
    h1 = true,
    subTiitle = null,
    showNav = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <style>

        </style>
    </head>
    <body>
        <a href="#main" class="skip">Skip to content</a>
        <div class="page">
            <Nav class={["nav"]} />
            <main id="main">
                <Header
                    heading={title}
                    body={description}
                >
                </Header>
                <slot>
                <slot />
            </main>
        </div>
    </body>
</html>
<style>
    html {
    }
    .page {
        display: flex;
        min-height: 100vh;
    }
    main {
        width: 100%;
    }
</style>
<style is:global>
    .nav {
        height: 100dvh;
        position: sticky;
        top: 0;

    }
    .skip {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        padding: 16px;
        display: block;
        text-align: center;
        border: 8px solid #000;
        border-bottom: none;
    }
</style>
