---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title, description, heading, imageSrc = '',marquee} = Astro.props;
const Heading = marquee ? 'b' : 'h1';

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Nav class:list={['NAV']}/>
		<main>
			<Heading class="Heading rounded-right">
				<span>
					{marquee||title}
				</span>
			</Heading>
			<div class="rounded-right">
				<slot></slot>
			</div>
			<img src={imageSrc || '/eric-looking-left.jpg'} alt="Eric in a green shirt looking at the h1 to the left">
		</main>
	</body>
</html>
<style>
	.Heading {
		background: pink;
		color: #000;
		display: inline-block;
		font-size: var(--step-7);
		line-height: .775;
		margin: 0 5.555555555% 0 0;
		padding: 5.555555555%;
		position: relative;
		text-shadow: .075em .075em 0 #fff;
		text-transform: uppercase;
		vertical-align: top;
		width: 2ch;
		word-break: break-all;
	}
	@media (min-width: 54.5em) {
		.Heading {
			position: sticky;
			top: 5.555555555vw;
		}
	}
	.Heading span {
		position: relative;
		top: .05em;
		right: .025em;
		font-size: 1em;
		line-height: inherit;
		transform: scale(1.05);
		display: block;
	}
	img {
		width: 100%;
		z-index: -1;
		height: 100%;
		height: 100lvh;
		position: fixed;
		transform: translate3d(0,0,0);
		border-radius: none;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: 60%;
	}
	main div {
		display: inline-block;
		width: fit-content;
		background-color: #fff;
		padding: 5.555555555%;
		margin: 5.555555555% 0 0;
		min-width: 60%;
		width: 33rem;
		max-width: 100%;
		box-sizing: border-box;
	}
	main div > * {f
		margin: 0;
	}
	main div > * + * {
		margin-top: calc(1em + .5rem);
	}
</style>
