---
import BaseHead from "../components/Head/BaseHead.astro";
import Nav from "../components/Nav.astro";
import MenuButton from "../components/MenuButton.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const {
    title,
    description,
    h1 = true,
    subTiitle = null,
    showNav = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <style>
            @font-face {
                font-family: SpaceCowgirl;
                src: url(/fonts/SpaceCowgirl/variable/SpaceCowgirl.woff2)
                    format("woff2-variations");
                font-display: swap;
            }
            @view-transition {
                navigation: auto;
            }
        </style>
    </head>
    <body>
        <Nav class:list={["NAV"]} />
        <main>
            {
                h1 && !!title && (
                    <h1>
                        {title}
                        {!!subTiitle && <b>{subTiitle}</b>}
                    </h1>
                )
            }
            <slot />
        </main>
    </body>
</html>
<style>
    html {
    }
    body {
    }
    main {
    }
</style>
<style is:global>
    nav {
        /* width: 40rem; */
        flex-grow: 666;
    }
</style>
