---
import Layout from './index.astro'
const {title,marquee} = Astro.props
---
<Layout title={marquee||title} description="Wholesome thoughts on web dev probably." marquee={marquee}>
	<h1>{title}</h1>
	<slot></slot>
</Layout>